$font-stack: "Montserrat", sans-serif;
.cart-item {
    position: relative;
    background: white;
    box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.15);
    color: white;
    box-sizing: border-box;
    min-height: 200px;
    margin-top: 10px;
    max-width: 700px;
    border-radius: 10px;
    &__name {
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        border-bottom: 1px solid black;
    }
    &__close {
        svg {
            position: absolute;
            top: 25px;
            right: 25px;
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
    }
    &__close-burger {
        svg {
            display: none;
        }
        display: none;
    }
    &__empty {
        display: none;
        // display: block;
        padding-top: 30px;
        font-size: 30px;
        font-weight: 100;
        line-height: 30px;
    }
}
.mini-block-footer {
    display: none;
}
.cart-item-wrap {
    // margin-bottom: 40px;
    // padding: 0 0 40px 10px;
    display: flex;
    max-width: 700px;
    align-items: center;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 15px 0px;
    img {
        width: 150px;
        height: 150px;
        margin: 0px 20px 0px 0px;
    }
    &__wrap {
        display: flex;
        align-items: center;
    }
}
.cart-block-mini {
    &__result {
        display: none;
    }
    &__button {
        display: none;
    }
}
.cart-item-info {
    width: 300px;
    flex: 1 1 auto;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        padding: 10px;
    }
    p {
        color: black;
        margin-bottom: 10px;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
    }
}

.cart-item-order {
    background-color: transparent;
    color: black;
    box-sizing: border-box;
    border-bottom: 1px solid #9c9c9c;

    &__name {
        p {
        }
        color: black;
        padding: 20px;
        margin-bottom: 20px;

        font-size: 30px;
        font-weight: 100;
        line-height: 30px;
        border-bottom: 1px solid black;
    }
    &__allprice {
        p {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: black;
            padding: 20px 0px 0px 20px;
            text-align: left;
        }
    }
}
.cart-order {
    &__wrap {
        display: flex;
        align-items: center;
        margin: 0px 0px 40px 0px;
        padding: 0px 0px 20px 0px;
        border-bottom: 1px solid black;
        &:last-child {
            margin: 0px;
            border-bottom: none;
        }
        img {
            width: 150px;
            height: 150px;
        }
    }
    &__img {
        padding: 10px 20px 10px 0px;
    }
    &__info {
        flex: 1 1 auto;
    }
    &__name {
        margin: 0px 0px 20px 0px;
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            letter-spacing: 0.03em;
            color: black;
            text-align: left;
        }
    }
    &__price {
        margin: 0px 0px 20px 0px;
        p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 21px;
            letter-spacing: 0.03em;
            color: black;
            text-align: left;
        }
        span {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.03em;
            color: black;
        }
    }

    &__quantity {
        p {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 21px;
            letter-spacing: 0.03em;
            color: black;
            text-align: left;
        }
        span {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.03em;
            color: black;
        }
    }

    &__del {
        cursor: pointer;
        svg {
            width: 25px;
            height: 25px;
        }
    }
}
.cart-item-button2 {
    margin: 0px 25px 0px 0px;
    position: relative;
    height: 100px;

    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    // font-family: "ND Astroneer";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    outline: none;
    letter-spacing: -0.24px;
    border-radius: 18px;
    background-color: #3867d6;
    svg {
        width: 35px;
    }
}
.cart-item-button {
    position: relative;

    height: 100px;
    padding-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    // font-family: "ND Astroneer";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    outline: none;
    letter-spacing: -0.24px;
    border-radius: 18px;
    background-color: #3867d6;
    svg {
        width: 35px;
    }
}
.cart-item-del {
    display: none;
}
.cart-item-button-del {
    cursor: pointer;
    // color: black;
    // // font-family: "ND Astroneer";
    // font-size: 24px;
    // font-weight: 100;
    // border: none;
    // outline: none;
    // letter-spacing: -0.24px;
    // width: 40px;
    // height: 40px;
    // border-radius: 2px;
    // background-color: white;
    // margin: 20px;
}

.cart_item_quantity {
    line-height: 19px;
    margin-left: 30px;
    width: 150px;
    font-size: 20px;
    color: black;
}

.jjj {
    display: none;
    &:last-child {
        display: block !important;
    }
}

// .active {
//     width: 100px;
//     height: 100px;
//     background-color: #3867d6;
// }

.cart-block {
    display: none;

    width: 100%;
    padding: 20px;
    &__a {
        display: flex;
        justify-content: center;
    }
    &__button {
        font-family: $font-stack;
        width: 235px;
        height: 45px;
        border-radius: 19px;
        background-color: #3967d6;

        cursor: pointer;
        border: none;
        outline: none;
        color: #fff;
        font-size: 21px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.24px;
    }
    &__result {
        background: #3967d6;
        height: 60px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 0px 0px 10px 10px;
    }
}

.active {
    display: none;
}

.active1 {
    display: block;
}

.cart-popup {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 15;
    // position: absolute;
    // width: 100%;
    // height: 100vh;
    // top: 0;
    // left: 0;
    // background-color: rgba(0, 0, 0, .8);
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    &__index {
        position: absolute;
        top: 28px;
        right: -7px;
        width: 15px;
        height: 15px;
        background: #fff;
        color: black;
        p {
            padding: 2px 0px 0px 0px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            /* identical to box height */
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}
.cart-empty {
    padding: 20px;
    p {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.24px;
        line-height: 36px;
        letter-spacing: -0.24px;
        color: black;
    }
}
@media (max-width: 1440px) {
    .cart-item-button {
    }
    .cart-item-order {
        &__allprice {
            p {
                font-size: 20px;
            }
        }
    }
    .cart-order {
        &__price {
            p {
                font-size: 16px;
            }
        }
        &__quantity {
            p {
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 1024px) {
    .cart {
        &__index {
            top: 32px;
        }
    }
    .cart-block {
        &__button {
            display: none;
        }
        &__result {
            display: none;
        }
    }
    .cart-empty {
        p {
            color: white;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    .cart-item-info {
        width: initial;
    }
    .cart-item-button {
        display: none;
    }
    .cart-item-wrap {
        position: relative;
        align-items: start;
        margin: 0px 0px 30px 0px;
        &__wrap {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
        &::after {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -25%;
            content: "";
            min-width: 248px;
            max-width: 700px;
            height: 1px;
            background: #ffffff;
        }
    }
    .cart-item-button-del {
        display: none;
    }
    .cart-item-del {
        width: 100%;
        display: block;
        cursor: pointer;
        margin: 16px 0px 0px 0px;
        padding: 0px 0px 55px 0px;
        font-weight: bold;
        font-size: 22px;
        text-align: right;
        line-height: 102%;
        color: #ffffff;
    }
    .cart_item_quantity {
        font-weight: bold;
        color: white;
        margin: 0px;
        span {
            font-weight: normal !important;
            margin: 0px 0px 0px 10px;
        }
    }
    .cart-block-mini {
        &__a {
        }
        &__result {
            display: block;
            text-align: right;
            padding: 0px 20px 0px 20px;
            p {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 120%;
                font-weight: 600;
            }
            span {
                font-weight: normal;
                margin: 0px 0px 0px 10px;
            }
        }
        &__button {
            margin: 51px auto 54px auto;
            display: block;
            width: 165px;
            height: 48px;
            background: #ffffff;
            border-radius: 30px;
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 120%;

            text-align: center;
            color: #000000;
        }
    }
    .mini-block-footer {
        display: block;
        z-index: 25;

        background-color: #fff;
    }
    .cart-item {
        height: 100%;
        width: 100%;
        max-width: initial;
        margin: 0px;
        border-radius: 0px;
        min-height: 100%;
        top: 20;
        left: 0;
        overflow: auto;
        background: #3967d6;
        position: fixed;
        z-index: 25;
        border: none;
        padding: 0 0 45px 0;
        &__name {
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 120%;
            text-align: left;
            color: #ffffff;
        }
        &__close {
            svg {
                display: none;
            }
        }
        &__close-burger {
            display: block;
            svg {
                display: block;
                position: absolute;
                top: 25px;
                right: 25px;
                height: 25px;
                width: 25px;
                cursor: pointer;
            }
        }
    }
    .cart-item-wrap {
        max-width: initial;
    }
    .cart-item-info {
        p {
            color: white;
            text-align: left;
        }
        &__name {
        }
        &__price {
            color: white;
            text-align: left;
            margin: 7px 0px 0px 0px;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 144%;
            color: #ffffff;
            span {
                margin: 0px 0px 0px 24px;
                font-weight: 400 !important;
            }
        }
    }
}
@media (max-width: 560px) {
    .cart-item-info {
        p {
            font-size: 12px;
        }
    }
    .cart_item_quantity {
        font-size: 12px;
    }
    .cart-item-del {
        padding: 0px 0px 20px 0px;
        font-size: 12px;
    }
    .cart-item-wrap {
        img {
            width: 120px;
            height: 108px;
        }
    }
    .cart-block-mini {
        &__button {
            margin: 21px auto 34px auto;
        }
    }
    .cart-item-wrap {
        &::after {
            min-width: 200px;
        }
    }
    .cart-block-mini {
        &__result {
            p {
                font-size: 16px;
                text-align: center;
            }
        }
    }
    .cart-item {
        &__close-burger {
            svg {
                display: block;
                position: absolute;
                top: 25px;
                right: 25px;
                height: 15px;
                width: 15px;
                cursor: pointer;
            }
        }
    }
    .cart-empty {
        p {
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
        }
    }
}
