$font-stack: "Montserrat", sans-serif;
.cart-item {
    position: relative;
    background-color: #eee;
    color: black;
    box-sizing: border-box;
    min-height: 200px;
    margin-top: 10px;
    max-width: 700px;
    border-radius: 10px;
    &__name {
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        border-bottom: 1px solid black;
    }
    &__close {
        svg {
            position: absolute;
            top: 25px;
            right: 25px;
            height: 25px;
            width: 25px;
            cursor: pointer;
        }
    }
    &__empty {
        display: none;
        // display: block;
        padding-top: 30px;
        font-size: 30px;
        font-weight: 100;
        line-height: 30px;
    }
}

.cart-item-wrap {
    // margin-bottom: 40px;
    // padding: 0 0 40px 10px;
    display: flex;
    max-width: 700px;
    align-items: center;
    padding: 0px 20px 0px 20px;
    img {
        width: 150px;
        height: 150px;
        margin: 0px 20px 0px 0px;
    }
}

.cart-item-info {
    max-width: 300px;
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        padding: 10px;
    }
    p {
        margin-bottom: 10px;
        text-align: center;
        line-height: 20px;
        font-size: 20px;
    }
}

.cart-item-order {
    background-color: white;
    color: black;
    box-sizing: border-box;
    min-width: 500px;
    min-height: 200px;
    margin-top: 10px;
    max-width: 450px;
    border-radius: 20px;
    &__name {
        color: black;
        padding: 20px;
        margin-bottom: 20px;
        // font-family: "ND Astroneer";
        font-size: 30px;
        font-weight: 100;
        line-height: 30px;
        border-bottom: 1px solid black;
    }
}

.cart-item-button {
    position: relative;
    width: 150px;
    height: 100px;
    padding-bottom: 10px;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: white;
    // font-family: "ND Astroneer";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    border: none;
    outline: none;
    letter-spacing: -0.24px;
    border-radius: 18px;
    background-color: #3867d6;
    svg {
        width: 35px;
    }
}

.cart-item-button-del {
    cursor: pointer;
    color: #ffffff;
    // font-family: "ND Astroneer";
    font-size: 24px;
    font-weight: 100;
    border: none;
    outline: none;
    letter-spacing: -0.24px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #3867d6;
    margin: 20px;
}

.cart_item_quantity {
    line-height: 19px;
    margin-left: 30px;
    width: 150px;
    font-size: 20px;
}

.jjj {
    display: none;
    &:last-child {
        display: block !important;
    }
}

// .active {
//     width: 100px;
//     height: 100px;
//     background-color: #3867d6;
// }
.cart-block {
    display: none;

    width: 100%;
    padding: 20px;
    &__a {
        display: flex;
        justify-content: center;
    }
    &__button {
        font-family: $font-stack;
        width: 235px;
        height: 45px;
        border-radius: 19px;
        background-color: #3867d6;
        cursor: pointer;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.24px;
    }
}

.active {
    display: none;
}

.active1 {
    display: block;
}

.cart-popup {
    position: absolute;
    top: 100px;
    right: 0px;
    // position: absolute;
    // width: 100%;
    // height: 100vh;
    // top: 0;
    // left: 0;
    // background-color: rgba(0, 0, 0, .8);
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    &__index {
        position: absolute;
        top: 26px;
        right: 50px;
        width: 15px;
        height: 15px;
        background: #fff;
        color: black;
        p {
            padding: 2px 0px 0px 0px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            /* identical to box height */
            letter-spacing: 0.02em;
            color: #000000;
        }
    }
}
.cart-empty {
    padding: 20px;
    p {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: -0.24px;
        line-height: 36px;
        letter-spacing: -0.24px;
    }
}
