@font-face {
    font-family: 'ND Astroneer';
    // src: url('../assets/fonts/ND Astroneer.ttf');
    src: local('~@/assets/fonts/ND Astroneer.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}