.footer-container {
    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        margin: 92px 0px 85px 0px;
        font-size: 60px;
        font-weight: bold;
        line-height: 120%;
    }
}

.footer {
    background-image: url("../image/footer.png");
    background-size: cover;
    background-position-x: center;

    &__section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__block-number {
        display: flex;
    }
    &__h1 {
        margin: 143px 0px 54px 0px;
        font-size: 60px;
        font-weight: 600;
        line-height: 120%;
        /* Text style for "Свяжитесь" */
    }
    &__p {
        margin: 36px;
        max-width: 830px;
        color: #000000;
        font-size: 28px;
        text-align: center;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.5px;
    }
    &__number {
        display: flex;
        align-items: center;
        font-weight: 600;
        &:first-child {
            padding: 0px 140px 0px 0px;
        }
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #000000;
    }
    &__nav {
        display: flex;
        align-items: center;
        ul {
            li {
                list-style-type: none;
                margin: 0px 0px 22px 0px;
                a {
                    text-decoration: none;

                    font-weight: 600;
                    font-size: 18px;
                    line-height: 120%;

                    text-align: center;

                    color: #000000;
                }
            }
        }
    }
}

#footer-link {
    display: flex;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    li {
        margin-bottom: 10px;
        color: #000000;
        font-size: 30px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.3px;
        list-style: none;
    }
    a {
        text-decoration: none;
        position: relative;
        color: black;
        &:before {
            content: "";
            width: 0;
            height: 0.15em;
            margin-bottom: 2px;
            position: absolute;
            bottom: -10px;
            left: 50%;
            background: red;
            transition: all 0.3s;
        }
        &:hover {
            &:before {
                width: 100%;
                left: 0;
                background: blue;
            }
        }
    }
}

.footer-info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 67px 0px;
    background: #3967d6;
    border-radius: 80px;
    &__form {
        padding: 0px 50px;
        display: flex;
        width: 100%;
        ::placeholder {
            color: black;
        }
    }
    &__name {
        width: 329px;
        height: 68px;
        border: none;
        outline: none;
        margin-right: 61px;

        border: 3px solid #ffffff;

        box-sizing: border-box;
        border-radius: 80px;
        background-color: transparent;
        text-align: center;
        color: white;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.36px;
        &::placeholder {
            color: white;
        }
        &:active {
            color: white;
        }
    }
    &__number {
        width: 329px;
        height: 68px;
        outline: none;
        border: none;
        text-align: center;

        border: 3px solid #ffffff;
        color: #fff;
        box-sizing: border-box;
        border-radius: 80px;
        background-color: transparent;
        font-size: 22px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.3px;
        &::placeholder {
            color: white;
        }
        &:active {
            color: white;
        }
    }
    input {
        font-family: "Montserrat", sans-serif;
    }
    &__communication {
    }
    &__button {
        width: 329px;
        height: 68px;
        border-radius: 34px;
        background-color: #ffffff;
        font-size: 20px;
        -webkit-appearance: none;
        line-height: 72px;
        margin-left: 71px;
        letter-spacing: -0.24px;
        outline: none;
        cursor: pointer;
        border: none;
        text-align: center;
        // font-family: "ND Astroneer";

        &:hover {
            background: #d1d1d1;
            color: black;
        }
        &:active {
            background: #d1d1d1;
            color: #ffffff;
            transition: 0ms;
        }
    }
}

.footer-contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 45px 0px;
    img {
        // width: 137px;
        // height: 184px;
    }
    &__down {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px 35px 0 0;
        background-color: #3867d6;
        width: 100%;
        padding: 16px 0px;
    }
    &__p {
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        line-height: 67.42px;
        letter-spacing: -0.36px;
        color: #ffffff;
    }
}
@media (max-width: 1440px) {
    .footer-container {
        &__text {
            margin: 62px 0px 55px 0px;
            font-size: 45px;
        }
    }
    .footer-info {
        &__form {
            flex-direction: column;
        }
        &__date {
            margin: 0px 0px 40px 0px;
        }
        &__communication {
            display: flex;
            justify-content: center;
            input {
                margin: 0px;
            }
        }
    }
    .footer {
        &__h1 {
            margin: 100px 0px 44px 0px;
            font-size: 45px;
        }
        p {
            font-size: 24px;
        }
        &__number {
            font-size: 18px;
            &:first-child {
                padding: 0px 50px 0px 0px;
            }
        }
    }
}
@media (max-width: 1140px) {
    .footer-info {
        &__name {
            margin-right: 30px;
        }
    }
}
@media (max-width: 1024px) {
    .footer-contact {
        svg {
            width: 60px;
            height: 81px;
        }
    }
    .footer {
        &__nav {
            display: none;
        }
        &__block-number {
            flex-direction: column;
        }
        &__number {
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
            &:first-child {
                margin: 0px 0px 29px 0px;
            }
            a {
                text-align: right;
            }
        }
    }
    .footer-info {
        flex-direction: column;
        &__date {
            margin: 0px 0px 30px 0px;
        }
    }
}
@media (max-width: 800px) {
    .footer-container {
        &__text {
            margin: 15px 0px 17px 0px;
            font-size: 24px;
            line-height: 120%;
            color: black;
        }
    }

    .footer {
        &__h1 {
            margin: 20px 0px 22px 0px;
            font-weight: 600;
            font-size: 22px;
            line-height: 120%;
            color: black;
        }
        &__p {
            max-width: 256px;
            margin: 0px 0px 38px 0px;
            font-weight: 600;
            font-size: 14px !important;
            line-height: 120%;
        }
        &__block-number {
            display: flex;
            align-items: flex-end;
        }
    }
    .footer-info {
        background: #3967d6;
        border-radius: 10px;
        &__form {
            display: flex;

            flex-direction: column;
            align-items: center;
        }
        &__date {
            display: flex;
            flex-direction: column;
        }
        &__name {
            width: initial;
            width: 238px;
            height: 50px;
            font-size: 14px;
            margin: 0px 0px 13px 0px;
        }
        &__number {
            width: initial;
            width: 238px;
            height: 50px;
            font-size: 14px;
            margin: 0px 0px 34px 0px;
        }
        &__button {
            width: 144px;
            height: 39px;
            font-weight: bold;
            font-size: 12px;
            line-height: 120%;
        }
    }
    .footer-contact {
        padding: 18px 0px 28px 0px;
        &__down {
            padding: 0px;
        }
        &__p {
            font-size: 18px;
        }
    }
}
@media (max-width: 540px) {
    .footer-info {
        padding: 22px 0px 12px 0px;
        &__date {
            margin: 0px;
        }
    }
}
