.catalogh1 {
    font-size: 35px;
    font-weight: 400;
    letter-spacing: -0.48px;
}

.products {
    padding: 155px 0 0 0;
}

.catalog-wrap {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
