$font-stack: "Montserrat", sans-serif;
.catalog-index-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px -20px;
}
.catalog-column {
    flex: 50%;
    padding: 0px 20px;
    margin: 0px 0px 20px 0px;
}
.catalog-index-item {
    // margin: 63px 41px;
    display: flex;
    // margin: 0px 20px 0px 0px;
    padding: 10px 0px;
    // width: 794px;
    // height: 326px;
    box-shadow: 0 0 28px 1px rgba(56, 103, 214, 0.6);
    border-radius: 35px;
    border: 1px solid rgba(0, 18, 255, 0.16);
    background-color: #ffffff;
    &__fig {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 0 0 0 40px;
    }
    img {
        padding: 20px;
    }
}

.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 395px;
    height: 600px;
    background-color: #fff;
    box-shadow: 0 0 28px 1px rgba(56, 103, 214, 0.6);
    border: 1px solid rgba(0, 18, 255, 0.16);
    border-radius: 35px;
    &__name {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.24px;
        line-height: 36px;
        letter-spacing: -0.24px;
        line-height: 48px;
    }
    &__info {
        flex: 1 1 auto;
    }
    &__price {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: -0.24px;
        line-height: 36px;
        letter-spacing: -0.24px;
        line-height: 48px;
        margin: 0px 30px 0px 0px;
    }
    &__button {
        cursor: pointer;
        width: 279px;
        height: 39px;
        border-radius: 19px;
        background-color: #3867d6;
        border: none;
        outline: none;
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.24px;
        font-family: $font-stack;
    }
    &__wrap {
        // justify-content: space-around;
        display: flex;
    }
    &__performance {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        /* Text style for "Производит" */
        letter-spacing: -0.22px;
    }
    &__button2 {
        cursor: pointer;
        text-align: center;
        color: #ffffff;
        font-family: $font-stack;
        border: none;
        outline: none;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.24px;
        width: 164px;
        height: 48px;
        border-radius: 18px;
        background-color: #3867d6;
    }
}
