.select-container {
}

.section-main {
    &__text {
        font-size: 40px;
        color: #000000;
        font-weight: bold;
        letter-spacing: -0.6px;
        padding: 47px 0 60px 0px;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        padding: 10px 10px 52px 10px;
        background: #ffffff;
        box-shadow: 0px 0px 52px 1px rgba(85, 85, 85, 0.15);
        border-radius: 30px;
    }
}

.block {
    &__h2 {
        position: relative;
        width: 67%;
        min-height: 50px;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        margin: 10px 0 19px 0;
        &::after {
            position: absolute;
            content: "";
            top: 20px;
            left: 50%;
            width: 2px;
            transform: rotate(90deg);
            height: 129px;
            background: #3967d6;
        }
    }
    &__text {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px !important;
        margin: 16px 0px 0px 0px;
        // line-height: 120%;
        padding: 0 37px;
        text-align: left;
    }
}

.section-body > div:nth-child(2) > p {
    margin: 0px;
}

.section-body {
    display: flex;
    justify-content: space-around;
    // margin: 0 auto;
    margin: 100px auto 67px auto;
    &__title {
        display: none;
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 271px;
        width: 100%;
        padding: 10px;
        background: #ffffff;
        box-shadow: 0px 0px 52px 1px rgba(85, 85, 85, 0.15);
        border-radius: 30px;
    }
    &__h2 {
        display: none;
        // text-align: center;
        // font-size: 80px;
        // font-weight: 500;
        // line-height: 80px;
        // margin: 20px 0 0 0;
        // color: rgba(0, 18, 255, 0.67);
    }
    &__wrap {
        flex: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 130px;
        border-right: 1px solid #c4c4c4;
        &:last-child {
            border: none;
        }
    }
    &__text {
        p {
            max-width: 254px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            /* or 29px */
            text-align: center;

            color: #000000;
        }
    }
}

.section-services {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 271px;
        width: 100%;
        margin: 0px 0px 115px 0px;
        background: #ffffff;
        box-shadow: 0px 0px 52px 1px rgba(85, 85, 85, 0.15);
        border-radius: 30px;
    }
    &__h3 {
        padding: 0px 0px 47px 0px;
        font-weight: bold;
        font-size: 40px;
        line-height: 120%;
        text-align: left;
    }
    &__block {
        flex: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 130px;
        border-right: 1px solid #c4c4c4;
        &:last-child {
            border: none;
        }
        img {
            width: 101px;
            height: 101px;
        }
    }
    &__p {
        width: 80%;
        text-align: center;
        padding: 0px 0px 28px 0px;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: -0.4px;
    }
}
@media (max-width: 1440px) {
    .block {
        &__text {
            font-size: 16px;
            line-height: 33px;
            padding: 0 10px;
        }
        &__h2 {
            font-size: 22px;
            margin: 3px 0px 7px 0px;
            &::after {
                top: 0px;
            }
        }
    }
    .section-services {
        &__h3 {
            font-size: 35px;
        }
        p {
            font-size: 22px;
        }
        img {
            width: 90px;
            height: 90px;
        }
    }
    .section-body {
        &__text {
            p {
                padding: 10px;
                font-size: 17px;
            }
        }
    }
    .section-main {
        &__block {
            &:nth-child(1) {
                margin: 0px 20px 0px 0px;
            }
            &:nth-child(2) {
                margin: 0px 20px 0px 0px;
            }
        }
        &__text {
            font-size: 35px;
        }
    }
}
@media (max-width: 1024px) {
    .section-services {
        // background: linear-gradient(332.64deg, rgba(57, 103, 214, 0.51) -61.47%, rgba(255, 255, 255, 0) 100.21%);
        &__wrap {
            min-height: initial;
            box-shadow: initial;
            border-radius: 0;
            height: initial;
            border: initial;
            display: flex;
            flex-wrap: wrap;
            margin: 50px 0px;
        }
        &__block {
            flex: 50%;
            height: 225px;
            justify-content: space-between;
            flex-wrap: wrap;
            display: flex;
            position: relative;
            border: none;
            margin: 0px 0px 39px 0px;
            img {
                top: 33px;
                position: absolute;
                width: 73px;
                height: 60px;
            }
        }
        &__p {
            order: 2;
            font-size: 18px;
            margin: 14px 0px 0px 0px;
        }
        &__h3 {
            display: none;
        }
    }
    .circle {
        background: linear-gradient(125.05deg, rgba(255, 255, 255, 0.22) -36.55%, rgba(0, 26, 255, 0.22) 305.9%);
        border-radius: 50%;
        position: relative;
        width: 121px;
        height: 121px;
    }
    .section-gradient {
        background: linear-gradient(332.64deg, rgba(57, 103, 214, 0.51) -61.47%, rgba(255, 255, 255, 0) 100.21%);
    }
    .section-main {
        &__block {
            max-width: initial;
            padding: 0px;
            box-shadow: initial;
            border: initial;
            background: transparent;
            border-radius: 0px;
            &:nth-child(1) {
                margin: 0px 0px 0px 0px;
            }
            &:nth-child(2) {
                margin: 0px 0px 0px 0px;
            }
            &:last-child {
                margin: 0px 0px 33px 0px;
            }
        }
        &__text {
            display: block;
            padding: 28px 0px 23px 0px;
            font-style: normal;
            font-weight: bold;
            text-align: center;
            // padding: 0px;
        }
        &__wrap {
            flex-direction: column;
        }
    }
    .block {
        &__h2 {
            &::after {
                content: none;
                display: none;
            }
        }
        &__text {
            margin: 0px 0px 18px 0px;
            max-width: 350px;
            background: #ffffff;
            box-shadow: 0px 0px 11px 1px rgba(85, 85, 85, 0.15);
            border-radius: 15px;
            padding: 15px;
        }
    }
    .section-body {
        margin: 0;
        padding: 30px 0px 67px 0px;
        transform: matrix(1, 0, 0, -1, 0, 0);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__gradient {
            background: linear-gradient(332.64deg, rgba(57, 103, 214, 0.51) -61.47%, rgba(255, 255, 255, 0) 100.21%);
            transform: matrix(1, 0, 0, -1, 0, 0);
        }
        &__title {
            width: 100%;
            text-align: center;
            display: block;
            margin: 0px 0px 33px 0px;
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 110.4%;
            color: #000000;
        }
        &__h2 {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 120%;
            margin: 0px 27px 0px 0px;
            color: #000000;
        }
        &__wrap {
            border-right: none;
        }
        &__text {
            padding: 16px;
            background: #ffffff;
            box-shadow: 0px 0px 11px 1px rgba(85, 85, 85, 0.15);
            border-radius: 15px;
        }
        &__block {
            background: transparent;
            display: flex;
            flex-direction: column;
            height: initial;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px 0px 27px 0px;
            box-shadow: initial;
            border: initial;
            border-radius: 0px;
        }
    }
}
@media (max-width: 450px) {
    .section-services {
        &__wrap {
            flex-direction: column;
            margin: 0px;
        }
    }
}
@media (max-width: 540px) {
    .section-main {
        &__text {
            text-align: left;
            font-size: 24px;
            line-height: 110.4%;
        }
    }
    .section-services {
        &__block {
            margin: 0px 0px 10px 0px;
        }
    }
    .section-body {
        &__title {
            font-size: 24px;
            text-align: left !important;
        }
    }
    .containers {
        padding: 0 23px;
    }
    .block {
        &__h2 {
            font-size: 18px;
            line-height: 110.4%;
            min-height: initial;
            margin: 0px 0px 18px 0px;
            text-align: left;
            width: 100%;
        }
    }
}
@media (max-width: 330px) {
    .section-services__wrap {
        flex-direction: column;
    }
}
