.request-block {
    display: flex;
    justify-content: center;
    align-items: center;
    &__one {
        margin: 39px 120px 0 0;
        width: 539px;
        height: 757px;
        background-color: #e8e8e8;
        border-radius: 35px 35px 35px 35px;
        ;
    }
    ;
    &__two {
        width: 539px;
        height: 757px;
        background-color: #e8e8e8;
        border-radius: 35px 35px 35px 35px;
    }
    ;
    &__head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        background-color: #bfbfbf;
        border-radius: 35px 35px 0 0;
    }
    ;
    h2 {
        color: #000000;
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
    }
}

.request-call {
    width: 539px;
    height: 78px;
    background-color: #d0d0d0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &__text {
        color: #000000;
        font-size: 27px;
        font-weight: 400;
        line-height: 36px;
    }
    &__signal {
        width: 54px;
        height: 50px;
        border-radius: 25px;
        background-color: #2ed573;
    }
    ;
    &__wrap {
        display: flex;
        flex-direction: column;
    }
}

.activetis {
    width: 54px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
}