@import "./components/fonts.scss";
@import "./components/header.scss";
@import "./components/section.scss";
@import "./components/footer.scss";
@import "./components/product.scss";
@import "./components/order-ready.scss";
@import "./components/product-index.scss";
@import "./components/contact.scss";
@import "./components/cart.scss";
@import "./components/order.scss";
@import "./components/news.scss";
@import "./admin/admin-index.scss";
@import "./admin/menu.scss";
@import "./admin/request.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,500&display=swap");
$font-stack: "Montserrat", sans-serif;
// @font-face {
//     font-family: "Astroneer";
//     src: url("~@/assets/fonts/NDAstroneer-regular.ttf");
//     font-weight: normal;
//     font-style: normal;
//     unicode-range: U+0020-2212;
// }

// @font-face {
//     font-family: "ND Astroneer";
//     src: url("~@/assets/fonts/NDAstroneer-regular-rus.ttf");
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'ND Astroneer';
//     src: url('~@/assets/fonts/ND Astroneer.woff2') format('woff2');
//     src: url('~@/assets/fonts/NDAstroneer.ttf');
//     src: url('~@/assets/fonts/ND Astroneer.woff') format('woff');
// }
// @font-face {
//     font-family: 'ND Astroneer';
//     // src: url('~@/assets/fonts/ND Astroneer.eot');
//     // src: url('ND Astroneer.eot?#iefix') format('embedded-opentype');
//     src: url('~@/assets/fonts/ND Astroneer.woff2') format('woff2');
//     src: url('~@/assets/fonts/ND Astroneer.woff') format('woff');
//     // src: url('ND Astroneer.ttf') format('truetype');
//     src: url('~@/assets/fonts/ND Astroneer.svg#ND Astroneer') format('svg');
//     font-weight: 400;
// font-style: normal;
// unicode-range: U+0020-2212;
// }
*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.5s ease-in-out;
}

html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: #000000;
}
body {
    // font-family: 'Open Sans', sans-serif;
    // font-family: ND Astroneer, Arial sans-serif;
    font-family: $font-stack;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

input,
textarea,
select {
    -webkit-appearance: none;
}
.title {
    font-weight: 400;
    display: block;
    font-size: 35px;
    margin: 0px 0px 50px 0px;
}

.hidden {
    overflow: hidden;
}
input {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
}
button {
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
}

.title1 {
    margin: 0px 0px 40px 0px;
    font-weight: bold;
    display: block;
    font-size: 40px;
}

.main-container {
    height: 100vh;
}
.imgodd {
    &:last-child {
        max-width: 50%;
        margin: 0px 50% 0px 0px;
    }
}
.cursore-none {
    cursor: initial;
}
.error {
    margin: 140px auto 50px auto;
    h1 {
        text-align: center;
        font-size: 40px;
    }
}
@media (max-width: 1024px) {
    .error {
        h1 {
            padding: 0px 20px;
            font-size: 25px;
        }
    }
}
@media (max-width: 1440px) {
    .title1 {
        font-size: 35px;
    }
}
@media (max-width: 800px) {
    .imgodd {
        &:last-child {
            max-width: initial;
            margin: 0px;
        }
    }
}
@media (max-width: 540px) {
    .title {
        margin: 0px 0px 20px 0px;

        font-weight: bold;
        font-size: 24px;
        line-height: 110.4%;
        color: #000000;
    }
    .error {
        h1 {
            font-size: 20px !important;
        }
    }
}
